server:
  port: 8081

spring:
  application:
    name: brijwasi-auth
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

security:
  jwt:
    secret: ChangeMeInAuthServiceSecretKeyMustBe32BytesMinimum
